In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator

In [29]:
def convert_to_float(val):
    """Converts a string to a float, replacing commas with dots.

    Args:
        val (str): The string to be converted to float.

    Returns:
        float: The float value of the string, or None if it can't be converted.
    """
    try:
        return float(val.replace('.', '').replace(',', '.'))
    except ValueError:
        return None

In [30]:
# Load the uploaded data files
production_df = pd.read_csv(r'C:\Repositories\electricity_lstm\data\realised_creation_201501010000_202407010000_15_min.csv', delimiter=';')
consumption_df = pd.read_csv(r'C:\Repositories\electricity_lstm\data\realised_consumption_201501010000_202407010000_15_min.csv', delimiter=';')

In [31]:
# Check the first few rows of the dataframes
consumption_df.columns

Index(['Datum von', 'Datum bis', 'Gesamt (Netzlast) [MWh] Originalauflösungen',
       'Residuallast [MWh] Originalauflösungen',
       'Pumpspeicher [MWh] Originalauflösungen'],
      dtype='object')

In [32]:
# Check the columns of the production data
production_df.columns

Index(['Datum von', 'Datum bis', 'Biomasse [MWh] Originalauflösungen',
       'Wasserkraft [MWh] Originalauflösungen',
       'Wind Offshore [MWh] Originalauflösungen',
       'Wind Onshore [MWh] Originalauflösungen',
       'Photovoltaik [MWh] Originalauflösungen',
       'Sonstige Erneuerbare [MWh] Originalauflösungen',
       'Kernenergie [MWh] Originalauflösungen',
       'Braunkohle [MWh] Originalauflösungen',
       'Steinkohle [MWh] Originalauflösungen',
       'Erdgas [MWh] Originalauflösungen',
       'Pumpspeicher [MWh] Originalauflösungen',
       'Sonstige Konventionelle [MWh] Originalauflösungen'],
      dtype='object')

In [33]:
#### Convert the columns to a more readable format
# Translate column names for production data
production_df.columns = ['start_time', 'end_time', 'biomass_mwh', 'hydropower_mwh', 'wind_offshore_mwh',
                        'wind_onshore_mwh', 'solar_mwh', 'other_renewables_mwh', 'nuclear_mwh',
                        'lignite_mwh', 'hard_coal_mwh', 'natural_gas_mwh', 'pumped_storage_mwh', 'other_conventional_mwh']

# Translate column names for consumption data
consumption_df.columns = ['start_time', 'end_time', 'total_load_mwh', 'residual_load_mwh', 'saved_pumped_storage_mwh']

In [34]:
production_df.head()

,start_time,end_time,biomass_mwh,hydropower_mwh,wind_offshore_mwh,wind_onshore_mwh,solar_mwh,other_renewables_mwh,nuclear_mwh,lignite_mwh,hard_coal_mwh,natural_gas_mwh,pumped_storage_mwh,other_conventional_mwh
0,01.01.2015 00:00,01.01.2015 00:15,"1.005,50","288,25","130,00","2.028,25","0,00","33,25","2.685,50","3.964,75","805,50","317,25","391,00","1.235,00"
1,01.01.2015 00:15,01.01.2015 00:30,"1.007,00","287,75","129,25","2.023,00","0,00","33,25","2.646,25","3.950,75","833,00","316,25","373,25","1.213,75"
2,01.01.2015 00:30,01.01.2015 00:45,"1.006,50","292,75","128,50","2.040,25","0,00","33,25","2.660,75","3.912,25","806,25","313,50","426,50","1.218,50"
3,01.01.2015 00:45,01.01.2015 01:00,"1.005,25","289,50","128,75","2.036,50","0,00","33,25","2.718,00","3.859,50","775,00","279,25","335,00","1.242,00"
4,01.01.2015 01:00,01.01.2015 01:15,"999,00","295,25","128,75","2.045,75","0,00","33,25","2.772,25","3.888,00","633,50","261,50","247,50","1.247,25"

In [35]:
# Convert numeric columns in production data
for col in production_df.columns[2:]:
    production_df[col] = production_df[col].apply(convert_to_float)

# Convert numeric columns in consumption data
for col in consumption_df.columns[2:]:
    consumption_df[col] = consumption_df[col].apply(convert_to_float)

In [7]:
#### Convert date and time columns to datetime format
# production data
production_df['start_time'] = pd.to_datetime(production_df['start_time'], format='%d.%m.%Y %H:%M')
production_df['end_time'] = pd.to_datetime(production_df['end_time'], format='%d.%m.%Y %H:%M')

# consumption data
consumption_df['start_time'] = pd.to_datetime(consumption_df['start_time'], format='%d.%m.%Y %H:%M')
consumption_df['end_time'] = pd.to_datetime(consumption_df['end_time'], format='%d.%m.%Y %H:%M')

In [8]:
production_df['end_time']

0        2015-01-01 00:15:00
1        2015-01-01 00:30:00
2        2015-01-01 00:45:00
3        2015-01-01 01:00:00
4        2015-01-01 01:15:00
                 ...
333015   2024-06-30 23:00:00
333016   2024-06-30 23:15:00
333017   2024-06-30 23:30:00
333018   2024-06-30 23:45:00
333019   2024-07-01 00:00:00
Name: end_time, Length: 333020, dtype: datetime64[ns]

In [9]:
# merge the two dataframes
data = pd.merge(production_df, consumption_df, on=['start_time', 'end_time'])

In [10]:
data.head()

,start_time,end_time,biomass_mwh,hydropower_mwh,wind_offshore_mwh,wind_onshore_mwh,solar_mwh,other_renewables_mwh,nuclear_mwh,lignite_mwh,hard_coal_mwh,natural_gas_mwh,pumped_storage_mwh,other_conventional_mwh,total_load_mwh,residual_load_mwh,saved_pumped_storage_mwh
0,2015-01-01 00:00:00,2015-01-01 00:15:00,"1.005,50","288,25","130,00","2.028,25","0,00","33,25","2.685,50","3.964,75","805,50","317,25","391,00","1.235,00","11.210,00","9.051,75","123,00"
1,2015-01-01 00:15:00,2015-01-01 00:30:00,"1.007,00","287,75","129,25","2.023,00","0,00","33,25","2.646,25","3.950,75","833,00","316,25","373,25","1.213,75","11.118,75","8.966,50","154,25"
2,2015-01-01 00:30:00,2015-01-01 00:45:00,"1.006,50","292,75","128,50","2.040,25","0,00","33,25","2.660,75","3.912,25","806,25","313,50","426,50","1.218,50","11.144,75","8.976,00","160,50"
3,2015-01-01 00:45:00,2015-01-01 01:00:00,"1.005,25","289,50","128,75","2.036,50","0,00","33,25","2.718,00","3.859,50","775,00","279,25","335,00","1.242,00","11.126,75","8.961,50","163,75"
4,2015-01-01 01:00:00,2015-01-01 01:15:00,"999,00","295,25","128,75","2.045,75","0,00","33,25","2.772,25","3.888,00","633,50","261,50","247,50","1.247,25","11.009,50","8.835,00","87,50"

In [11]:
# check if there is any NaN values in the data
data.isnull().sum()

start_time                  0
end_time                    0
biomass_mwh                 0
hydropower_mwh              0
wind_offshore_mwh           0
wind_onshore_mwh            0
solar_mwh                   0
other_renewables_mwh        0
nuclear_mwh                 0
lignite_mwh                 0
hard_coal_mwh               0
natural_gas_mwh             0
pumped_storage_mwh          0
other_conventional_mwh      0
total_load_mwh              0
residual_load_mwh           0
saved_pumped_storage_mwh    0
dtype: int64

In [12]:
data['total_production_mwh'] = data[['biomass_mwh', 'hydropower_mwh', 'wind_offshore_mwh', 'wind_onshore_mwh',
                                    'solar_mwh', 'other_renewables_mwh', 'nuclear_mwh', 'lignite_mwh', 'hard_coal_mwh',
                                    'natural_gas_mwh', 'pumped_storage_mwh', 'other_conventional_mwh']].sum(axis=1)

In [15]:
plt.figure(figsize=(14, 7))
plt.plot(data['start_time'], data['total_production_mwh'], label='Total Production (MWh)')
plt.plot(data['start_time'], data['total_load_mwh'], label='Total Load (MWh)')
plt.xlabel('Time')
plt.ylabel('MWh')
# plt.title('Energy Production vs. Load')
plt.legend()
plt.grid(True)
plt.show()

In [13]:
# extract granular time information from the date_time in the data
data['hour'] = data["start_time"].dt.hour
data['minute'] = data["start_time"].dt.minute
data['day_of_week'] = data["start_time"].dt.dayofweek
data['day_of_year'] = data["start_time"].dt.dayofyear
data['week_of_year'] = data['start_time'].dt.isocalendar().week

In [14]:
data.head()

,start_time,end_time,biomass_mwh,hydropower_mwh,wind_offshore_mwh,wind_onshore_mwh,solar_mwh,other_renewables_mwh,nuclear_mwh,lignite_mwh,...,other_conventional_mwh,total_load_mwh,residual_load_mwh,saved_pumped_storage_mwh,total_production_mwh,hour,minute,day_of_week,day_of_year,week_of_year
0,2015-01-01 00:00:00,2015-01-01 00:15:00,"1.005,50","288,25","130,00","2.028,25","0,00","33,25","2.685,50","3.964,75",...,"1.235,00","11.210,00","9.051,75","123,00","1.005,50288,25130,002.028,250,0033,252.685,503...",0,0,3,1,1
1,2015-01-01 00:15:00,2015-01-01 00:30:00,"1.007,00","287,75","129,25","2.023,00","0,00","33,25","2.646,25","3.950,75",...,"1.213,75","11.118,75","8.966,50","154,25","1.007,00287,75129,252.023,000,0033,252.646,253...",0,15,3,1,1
2,2015-01-01 00:30:00,2015-01-01 00:45:00,"1.006,50","292,75","128,50","2.040,25","0,00","33,25","2.660,75","3.912,25",...,"1.218,50","11.144,75","8.976,00","160,50","1.006,50292,75128,502.040,250,0033,252.660,753...",0,30,3,1,1
3,2015-01-01 00:45:00,2015-01-01 01:00:00,"1.005,25","289,50","128,75","2.036,50","0,00","33,25","2.718,00","3.859,50",...,"1.242,00","11.126,75","8.961,50","163,75","1.005,25289,50128,752.036,500,0033,252.718,003...",0,45,3,1,1
4,2015-01-01 01:00:00,2015-01-01 01:15:00,"999,00","295,25","128,75","2.045,75","0,00","33,25","2.772,25","3.888,00",...,"1.247,25","11.009,50","8.835,00","87,50","999,00295,25128,752.045,750,0033,252.772,253.8...",1,0,3,1,1

In [15]:
# encode the date and time features in a way that captures the periodicity of the data
# include sine and cosine transformations for the hour and day of the week
def encode_feature(data, column_name:str, max_value:int):
    data[column_name + '_sin'] = np.sin(2 * np.pi * data[column_name] / max_value)
    data[column_name + '_cos'] = np.cos(2 * np.pi * data[column_name] / max_value)
    return data

In [16]:
# capture the cyclical nature of hours in a day.
encode_feature(data, 'hour', 24)
# capture the cyclical nature of minutes within each hour.
encode_feature(data, 'minute', 60)
# capture the cyclical nature of days within a week.
encode_feature (data, 'day_of_week', 7)
# capture the cyclical nature of days within a year.
encode_feature(data,'day_of_year', 365)
# capture the cyclical nature of weeks within a year.
encode_feature(data, 'week_of_year', 52)

,start_time,end_time,biomass_mwh,hydropower_mwh,wind_offshore_mwh,wind_onshore_mwh,solar_mwh,other_renewables_mwh,nuclear_mwh,lignite_mwh,...,hour_sin,hour_cos,minute_sin,minute_cos,day_of_week_sin,day_of_week_cos,day_of_year_sin,day_of_year_cos,week_of_year_sin,week_of_year_cos
0,2015-01-01 00:00:00,2015-01-01 00:15:00,"1.005,50","288,25","130,00","2.028,25","0,00","33,25","2.685,50","3.964,75",...,0.000000,1.000000,0.000000e+00,1.000000e+00,0.433884,-0.900969,0.017213,0.999852,0.120537,0.992709
1,2015-01-01 00:15:00,2015-01-01 00:30:00,"1.007,00","287,75","129,25","2.023,00","0,00","33,25","2.646,25","3.950,75",...,0.000000,1.000000,1.000000e+00,2.832769e-16,0.433884,-0.900969,0.017213,0.999852,0.120537,0.992709
2,2015-01-01 00:30:00,2015-01-01 00:45:00,"1.006,50","292,75","128,50","2.040,25","0,00","33,25","2.660,75","3.912,25",...,0.000000,1.000000,5.665539e-16,-1.000000e+00,0.433884,-0.900969,0.017213,0.999852,0.120537,0.992709
3,2015-01-01 00:45:00,2015-01-01 01:00:00,"1.005,25","289,50","128,75","2.036,50","0,00","33,25","2.718,00","3.859,50",...,0.000000,1.000000,-1.000000e+00,-1.836970e-16,0.433884,-0.900969,0.017213,0.999852,0.120537,0.992709
4,2015-01-01 01:00:00,2015-01-01 01:15:00,"999,00","295,25","128,75","2.045,75","0,00","33,25","2.772,25","3.888,00",...,0.258819,0.965926,0.000000e+00,1.000000e+00,0.433884,-0.900969,0.017213,0.999852,0.120537,0.992709
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333087,2024-06-30 22:45:00,2024-06-30 23:00:00,"1.034,00","669,75","337,00","1.400,00","0,00","28,00",-,"2.276,50",...,-0.500000,0.866025,-1.000000e+00,-1.836970e-16,-0.781831,0.623490,0.008607,-0.999963,-0.0,-1.0
333088,2024-06-30 23:00:00,2024-06-30 23:15:00,"1.036,25","643,00","342,25","1.328,25","0,00","28,00",-,"2.290,50",...,-0.258819,0.965926,0.000000e+00,1.000000e+00,-0.781831,0.623490,0.008607,-0.999963,-0.0,-1.0
333089,2024-06-30 23:15:00,2024-06-30 23:30:00,"1.035,00","691,25","330,00","1.283,75","0,00","28,00",-,"2.296,00",...,-0.258819,0.965926,1.000000e+00,2.832769e-16,-0.781831,0.623490,0.008607,-0.999963,-0.0,-1.0
333090,2024-06-30 23:30:00,2024-06-30 23:45:00,"1.035,50","652,00","292,50","1.251,75","0,00","28,00",-,"2.289,00",...,-0.258819,0.965926,5.665539e-16,-1.000000e+00,-0.781831,0.623490,0.008607,-0.999963,-0.0,-1.0
333091,2024-06-30 23:45:00,2024-07-01 00:00:00,"1.036,00","622,25","294,00","1.213,50","0,00","28,00",-,"2.285,50",...,-0.258819,0.965926,-1.000000e+00,-1.836970e-16,-0.781831,0.623490,0.008607,-0.999963,-0.0,-1.0

In [ ]:
# save the merged data
# data.to_csv(r'C:\Repositories\electricity_lstm\data\cleaned_merged_data_with_15_min_interval.csv', index=False)

In [23]:
# Select relevant features for training
features = ['biomass_mwh', 'hydropower_mwh', 'wind_offshore_mwh',
            'wind_onshore_mwh', 'solar_mwh', 'other_renewables_mwh',
            'nuclear_mwh', 'lignite_mwh', 'hard_coal_mwh', 'natural_gas_mwh',
            'pumped_storage_mwh', 'other_conventional_mwh',
            'total_production_mwh', 'total_load_mwh',
            'hour_sin', 'hour_cos',
            'minute_sin', 'minute_cos',
            'day_of_week_sin', 'day_of_week_cos',
            'day_of_year_sin', 'day_of_year_cos',
            'week_of_year_sin', 'week_of_year_cos']

In [25]:
data[features].describe()

,hour_sin,hour_cos,minute_sin,minute_cos,day_of_week_sin,day_of_week_cos,day_of_year_sin,day_of_year_cos,week_of_year_sin,week_of_year_cos
count,3.330920e+05,3.330920e+05,3.330920e+05,3.330920e+05,333092.000000,333092.000000,333092.000000,333092.000000,333092.0,333092.0
mean,1.020739e-04,1.767972e-04,1.389462e-16,7.840561e-19,-0.000666,-0.000276,0.033087,0.000573,0.033328,0.001272
std,7.070717e-01,7.071439e-01,7.071078e-01,7.071078e-01,0.707111,0.707104,0.706205,0.707236,0.705255,0.708171
min,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-0.974928,-0.900969,-0.999991,-0.999963,-1.0,-1.0
25%,-7.071068e-01,-7.071068e-01,-2.500000e-01,-2.500000e-01,-0.781831,-0.900969,-0.674444,-0.708627,-0.663123,-0.748511
50%,1.224647e-16,6.123234e-17,2.832769e-16,4.978996e-17,0.000000,-0.222521,0.077386,0.004304,0.120537,-0.0
75%,7.071068e-01,7.071068e-01,2.500000e-01,2.500000e-01,0.781831,0.623490,0.735417,0.702527,0.748511,0.748511
max,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.974928,1.000000,0.999991,1.000000,1.0,1.0

In [26]:
# standardize data
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(data[features])

ValueError: could not convert string to float: '1.005,50'